<%- include('partials/header-loggedIn') -%>

<section class="p-5">
  
  <div class="container">
    <div class="col-12">
      <h1>Favorite Hikes</h1>
      <h2>Hikes I've Liked!</h2>
    </div>
    <div class="row">
      <% for(var i=0; i<posts.length; i++) {%>
        <div class="col-lg-4 p-1 d-flex align-items-stretch">
          <div class="card h-100">
            <a href="/post/<%= posts[i]._id%>">
              <img src="<%= posts[i].image%>" class="card-img-top" alt="Card Image">
            </a>
            <div class="card-body d-flex flex-column">
              <div class="card-text d-flex justify-content-between">
                <h5 class="card-title"><%= posts[i].title%></h5>
                <div><i class="fa fa-heart" style='color: red'></i> <%= posts[i].likes %></div>
              </div>
              <p class="text-muted small">From: <%= posts[i].userName %>, <%= posts[i].createdAt.toLocaleDateString('en-US') %></p>
              <p class="card-text mb-4"><%= posts[i].caption %></p>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  
 
</section>

<%- include('partials/footer') -%>