<%- include('partials/header-loggedIn') -%>

<section class="p-5">
  <div class="container">
      <div class="row">
        <h1>These Hikers Hike!</h1>
      </div>
  </div>

  <div class="container">
    <div class="row">
      <% for(var i=0; i<posts.length; i++) {%>
        <div class="col-sm-5 p-1">
          <div class="card h-100">
            <div class="card-header"><%= posts[i].title%></div>
            <div class="card-body"> 
              <a href="/post/<%= posts[i]._id%>">
                <img class="card-img-top" src="<%= posts[i].image%>" alt="Card image cap">
              </a>
              <div class="card-text d-flex justify-content-between text-muted">
                <div>From: <%= posts[i].userName %></div>
                <div><i class="fa fa-heart"></i> <%= posts[i].likes %></div>
              </div>
              <p class="card-text"><%= posts[i].caption %></p>  
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>

</section>

<%- include('partials/footer') -%>